@model DigitalStore.Models.EF.Game
@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Naviheader
{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Game" class="nav-link">Game</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm Game</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Game</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm Game</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">


                    @using (Html.BeginForm("Add", "Game", FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">SEO</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <div class="form-group">
                                            <label for="exampleInoutEmail">Tên Game</label>
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Tên Game" })
                                            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInoutEmail">Alias</label>
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Alias" }) 
                                            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInoutEmail">Mô tả</label>
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Mô tả" })
                                            @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInoutEmail">Chi tiết sản phẩm</label>
                                            @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @placeholder = "Chi tiết sản phẩm" })
                                            @Html.ValidationMessageFor(x => x.Detail, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInoutEmail">Thể loại Game</label>
                                            @Html.DropDownListFor(x => x.GameGenre, ViewBag.GameGenre as SelectList, "Chọn thể loại", new { @class = "form-control", @placeholder = "Chi tiết sản phẩm" })
                                            @Html.ValidationMessageFor(x => x.Detail, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail">Giá</label>
                                                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @placeholder = "Giá" })
                                                    @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                                </div>

                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail">Giá Sale</label>
                                                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @placeholder = "Giá Sale" })
                                                    @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input", @id = "IsActiveCheckbox" })
                                                        <label for="IsActiveCheckbox" class="custom-control-label">Hiển thị</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.IsHome, new { @class = "custom-control-input", @id = "IsHomeCheckbox" })
                                                        <label for="IsHomeCheckbox" class="custom-control-label">Hot</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.IsFeatured, new { @class = "custom-control-input", @id = "IsFeaturedCheckbox" })
                                                        <label for="IsFeaturedCheckbox" class="custom-control-label">Nổi bật</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.IsSale, new { @class = "custom-control-input", @id = "IsSaleCheckbox" })
                                                        <label for="IsSaleCheckbox" class="custom-control-label">Khuyến mãi</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a href="/Admin/Game" class="btn btn-danger">Quay lại</a>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <input type="button" class="btn btn-primary" id="iTaiANh" onclick="BrowseServer();" value="Tải Ảnh"/>
                                            </div>
                                            <div class="col-md-12">
                                                <table class="table table-hover" id="tbAnhGame">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Ảnh</th>
                                                            <th class="text-center">Default</th>
                                                            <th class="text-center">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbHtml">

                                                    </tbody>
                                                </table>
                                                <input type="hidden" id="tCurrentId" value="0"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputName" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button type="submit" class="btn btn-danger">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    }

                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts
{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                filebrowserBrowseUrl: '/Content/ckfinder/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '/Content/ckfinder/ckfinder/ckfinder.html?type=Images',
                filebrowserUploadUrl: '/Content/ckfinder/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
                filebrowserImageUploadUrl: '/Content/ckfinder/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                filebrowserWindowWidth: '1000',
                filebrowserWindowHeight: '700',
                customConfig: 'Content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });

        });
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.basePath = '/Content/ckfinder/';
            finder.selectActionFunction = function (fileUrl) {
                 addImageGame(fileUrl)
            };
            finder.popup();
        }
        function addImageGame(url) {
            var current = $('#tCurrentId').val();
            var currentId = parseInt(current) + 1;
            var str = "";
            if (currentId == 1) {
                str += `<tr id="trow_${currentId}">
                            <td class="text-center" >${currentId}</td >
                            <td class="text-center"><img width="80" src="${url}"/></td>
                            <td class="text-center"><input type="radio" value="${currentId}" name="rDefault" checked="checked"/></td>
                            <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                        </tr >`;
            }
            else {
                str += `<tr id="trow_${currentId}">
                            <td class="text-center" >${currentId}</td >
                            <td class="text-center"><img width="80" src="${url}"/></td>
                            <td class="text-center"><input type="radio" value="${currentId}" name="rDefault"/></td>
                            <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                        </tr >`;
            }

            $('#tbHtml').append(str);
            $('#tCurrentId').val(currentId);
            $('#tbHtml tr td a').each(function () {
                $(this).click(function () {
                    var conf = confirm('Xóa ảnh?');
                    if (conf === true) {
                        var _id = $(this).data('id');
                        $('#trow_' + _id).fadeTo('fast', 1,function () {
                             $(this).remove();
                        });
                        var current = $('#tCurrentId').val();
                        var currentId = parseInt(current) - 1;
                        $('#tCurrentId').val(currentId);
                    }
                });
            });
        }
    </script>
}
